.list__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__item {
    width: 35%;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--color-dark-gray);
    border: solid 2px var(--color-light-gray);
    display: flex;
    flex-direction: column;

}

.item_photo {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}



.item_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list__button {
    padding: 10px 28px;
    background-color: rgb(206, 192, 177);
    border-color: var(--color-light-gray);
    cursor: pointer;
    border-radius: 8px;
    width: 60%;

    align-self: flex-end;



}