.container {
display: flex;
flex-wrap: wrap;
margin:0;
padding: 0;
justify-content: space-between;
padding-left: var(--spacing-large);
padding-right: var(--spacing-large);
}

.container__restoran {
   display: flex;
   flex-wrap: wrap;
    border : solid 2px var(--color-violet);
    width: 25%;
    border-radius: 8px;
    flex-direction: column;
    
    

}

.container__menu {
    display: flex;
    flex-wrap: wrap;
    border-color: var(--color-violet);
    border : solid 2px var(--color-violet);
    border-radius: 8px;
    width: 70%;
    height: 70vh;
    overflow-y:scroll;
    padding-left: var(--spacing-large);

}

.restoran__button {
    margin-bottom: 20px;
    padding: 12px ;
    background-color: var(--color-dark-gray);
    border-color: var(--color-light-gray);
    cursor: pointer;
    border-radius: 8px;
    width: 80%;
    
   
   


}

.restoran__button_active {
    margin-bottom: 20px;
    padding: 12px ;
    background-color: rgb(206, 192, 177);
    border-color: var(--color-light-gray);
    cursor: pointer;
    border-radius: 8px;
    width: 80%;
}

.container__restoran_text {
    align-self: center  ;
}